<%- include("include/header") %>
    <%- include("include/navbar") %>

        <div class="container">
            <div class="row">
                <div class="col">

                    <h2>Seminar on Intellectual Property Rights (IPR) Awareness </h2>
                    <br>
                    <img src="/img/event.png" style="height: 500px;" class="img-fluid d-block w-50" alt="NIT Delhi image">
                    
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary btn-lg"><a href="https://forms.gle/TH7S1oNGk3rGNE268"
                    style="text-decoration: none;
        color: white;">Register here</a></button>
            </div>
        </div>






















        <%- include("include/footer") %>