<%- include("include/header") %>
    <%- include("include/navbar") %>
        <div class="form1">

            <div class="container" style="margin-top:4%; line-height: 2;">
                <div class="row">
                    <div class="col-8">
                        <h3>Contact Us</h3>
                    </div>
                    <div class="col-4">
                        <h3>Contact Person(s)</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Name</label>
                                <input type="text" class="form-control" id="formGroupExampleInput"
                                    placeholder="Enter your name" required>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Email</label>
                                <input type="email" class="form-control" id="formGroupExampleInput2"
                                    placeholder="Enter your email" required>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Phone</label>
                                <input type="email" class="form-control" id="formGroupExampleInput2"
                                    placeholder="Enter your phone number" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea2">Message</label>
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"
                                    required></textarea>
                            </div>
                            <br>
                            <div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-4">

                        <br>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Dean R&C</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Dr. Vivek Srivastav</h6>
                                <h6><i class="fa-solid fa-envelope"></i mb-2 ml-2> : shvivek@nitdelhi.ac.in</h6>
                                <h6><i class="fa-solid fa-phone"></i></i mb-2 ml-2> : +911133861124</h6>
                            </div>
                        </div>
                        
                        <strong></strong>
                        <br>
                        
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">IPR Coordinator</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Dr. Chandra Prakash</h6>
                                <h6><i class="fa-solid fa-envelope"></i mb-2 ml-2> : cprakash@nitdelhi.ac.in </h6>
                                <h6><i class="fa-solid fa-phone"></i></i mb-2 ml-2> : +91-7568599806</h6>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Postal Address</h5>
                                <p>FA7,Zone P1, GT Karnal Road, Delhi-110036, INDIA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("include/footer") %>