<%- include("include/header") %>
<%- include("include/navbar") %>

        <div id="main-content" class="container-fluid main-content right-left-margin p-3">
            <div class="my-3">
                <h4 style="text-decoration: underline;">FAQ</h4>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            1. I have an Idea, can I file a Patent for it?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> Yes, Patents can be filed at an Ideation stage.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2. What is a Provisional Patent Application?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> A Provisional Patent Application is an
                            expedited process of filing a patent application, without the
                            complete experimental details. The additional details should be
                            provided within a period of 12 months, to file a complete patent
                            application.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3. I have an
                            idea, I would like to file a patent application but the idea related
                            experiments have not been completed, it would take another 12 months to
                            complete the experiments and generate data, how do I file the
                            patent?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> A Provisional Patent Application is advisable
                            in the above circumstances. Please note that a complete patent
                            application for the same invention can be filed within a period of
                            12 months.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="h4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#c4" aria-expanded="false" aria-controls="c4">
                            4. How much
                            time does it takes for the Patent filing process at IPR Cell?
                        </button>
                    </h2>
                    <div id="c4" class="accordion-collapse collapse" aria-labelledby="h4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> Within 30 day, the patent application gets
                            filed.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="h5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#c5" aria-expanded="false" aria-controls="c5">
                            5. How can I
                            search, if my idea has already been patented?
                        </button>
                    </h2>
                    <div id="c5" class="accordion-collapse collapse" aria-labelledby="h5"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> Inventors are advised to do a preliminary
                            search on Google Patents (<a class="wtk-links" href="https://patents.google.com/"
                                target="_blank">
                                https://patents.google.com/</a>) , Google Patent is a free
                            Patent search database available on Internet, If the Inventors are
                            unable to do the Prior art search, they are advised to contact IPR
                            Cell for the same, the cell has advanced AI equipped Paid database
                            and Technical staff who are well versed in providing Patent search
                            report. A minimum of 4 working days are required to prepare the
                            patent search report at IPR Cell.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="h6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#c6" aria-expanded="false" aria-controls="c6">
                            6. Can I
                            publish my invention into a Research journal before filing a
                            Patent?
                        </button>
                    </h2>
                    <div id="c6" class="accordion-collapse collapse" aria-labelledby="h6"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> <strong>Rule- PATENT FIRST PUBLISH
                                LATER</strong> <br> Public disclosure of an invention before
                            patent filing is not allowed, the same public disclosure in the
                            research journal, l becomes a prior art for the Patent application,
                            hence it is advised not to disclose the invention at any forum
                            before Patent filing.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="h7">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#c7" aria-expanded="false" aria-controls="c7">
                            7. How much
                            time does it takes for the grant of the Patent application?
                        </button>
                        </button>
                    </h2>
                    <div id="c7" class="accordion-collapse collapse" aria-labelledby="h7"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> The Patent granting process takes at least 48
                            months/ 4 years from the date of Patent filing, however the
                            Institute uses the expedited mode of publication, so the Patent
                            applications are getting granted in less than 3 years.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="h8">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#c8" aria-expanded="false" aria-controls="c8">
                            8. Shall I
                            wait for the Patent to be granted, for licensing/transferring it to
                            Industry partners?
                        </button>
                    </h2>
                    <div id="c8" class="accordion-collapse collapse" aria-labelledby="h8"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> The patent/IPRs can be licensed to an Industry
                            partner after filing the patent application, through technology
                            licensing agreements.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="h9">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#c9" aria-expanded="false" aria-controls="c9">
                            9. I have
                            made an algorithm/Source code/Software, can I file a Patent for the
                            same?
                        </button>
                    </h2>
                    <div id="c9" class="accordion-collapse collapse" aria-labelledby="h9"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong>
                            <p>Algorithm/source code/Software’s are a subject
                                matter of copyright, as per the section 3(K) of the Indian Patent
                                Act 1970, which states that a mathematical or business method or a
                                computer programme per se or algorithms are not inventions hence not
                                patentable.</p>
                            <p>However if the software is embedded with a hardware, the same
                                invention can be filed as a Patent application.</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="h10">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#c10" aria-expanded="false" aria-controls="c10">
                            10. I have
                            an invention, it is devoid of functionality but have novel aesthetics or
                            the Novel 3D view, Can I file the Patent for the invention?
                        </button>
                    </h2>
                    <div id="c10" class="accordion-collapse collapse" aria-labelledby="h10"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> Inventions having novel aesthetics views alone
                            are a subject matter of Design Registration (Laymen terms- Design
                            Patent), for filing a Design registration 7 different CAD/CAM/ Real
                            prototype views are required i.e. Top, bottom, right, left, front,
                            back and perspective view (illustrative disclosure form on filing a
                            Design registration can be found at this link)
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="h11">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#c11" aria-expanded="false" aria-controls="c11">
                            11. The
                            Patent is part of a research project sponsored by the xyz funding
                            agency, shall I take permission from the funding agency before filing
                            the patent?
                        </button>
                    </h2>
                    <div id="c11" class="accordion-collapse collapse" aria-labelledby="h11"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> NIT Delhi always signs an agreement beforehand
                            with any funding agency, for any sponsored Research/consultancy
                            project, the clause over IPR filing, maintenance and
                            commercialization are explicitly mentioned in the agreement. The
                            ownership, patent filing fee and commercialization onus are
                            mentioned in the agreement, please refer it to the same.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="h12">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#c12" aria-expanded="false" aria-controls="c12">
                            12. I have
                            developed an invention with few co-inventors, one of the inventors is
                            outside of NIT Delhi, how do I include his name in the Patent?
                        </button>
                    </h2>
                    <div id="c12" class="accordion-collapse collapse" aria-labelledby="h12"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> The inventor’s name from outside of IITK can
                            also be included in the Patent application, subject to providing a
                            No Objection Certificate from the administrative head of the
                            employer of that inventor, the NOC must explicitly mention that
                            XYZ(employer) has no objection in filing of the patent by NIT Delhi
                            being the sole applicant of the Patent. The NOC format is available
                            in the download section of the website.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="h13">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#c13" aria-expanded="false" aria-controls="c13">
                            13. Are
                            Patents jurisdictional, How can I get a global protection for my
                            Patent?
                        </button>
                    </h2>
                    <div id="c13" class="accordion-collapse collapse" aria-labelledby="h13"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> Yes, the Patents/IPRs are jurisdictional in
                            nature, a Patent application filing in India would result in
                            protection for the Indian jurisdiction only, there is no
                            protection/terminology like global Patent, separate patent
                            application needs to be filed for each jurisdictions.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="h14">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#c14" aria-expanded="false" aria-controls="c14">
                            14. What is
                            the deadline to file a foreign patent application in jurisdictions like
                            US/Japan or any other country?
                        </button>
                    </h2>
                    <div id="c14" class="accordion-collapse collapse" aria-labelledby="h14"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> The deadline to file a Foreign patent
                            application is 12 months, from the date of Indian Patent application
                            filing.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="h15">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#c15" aria-expanded="false" aria-controls="c15">
                            15. Is
                            there an option of extending the 12-month deadline for filing a foreign
                            patent application?
                        </button>
                    </h2>
                    <div id="c15" class="accordion-collapse collapse" aria-labelledby="h15"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> Yes, the expansion of deadline or time window
                            of 12 months for filing a foreign patent application is possible,
                            through a process called as PCT (Patent co-operation treaty), the
                            PCT application can be filed within 12 months from the date of
                            National Phase filing in order to expand the foreign filing window
                            from 12 months to 31 months.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="h16">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#c16" aria-expanded="false" aria-controls="c16">
                            16. What is
                            a PCT application, how can I file it?
                        </button>
                    </h2>
                    <div id="c16" class="accordion-collapse collapse" aria-labelledby="h16"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> PCT (Patent co-operation treaty), the PCT
                            application is filed to expand the foreign filing window from 12
                            months to 31 months, it can be filed within 12 months from the date
                            of National Phase filing(Indian Patent application).
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="h17">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#c17" aria-expanded="false" aria-controls="c17">
                            17. Who
                            would sponsor the foreign patent application filing/PCT application
                            filing expenses?
                        </button>
                    </h2>
                    <div id="c17" class="accordion-collapse collapse" aria-labelledby="h17"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Ans:</strong> The PCT/foreign application filings are subject
                            to monetary support from the Project funds of the inventors,
                            inventors are suggested to provide their preferences in the
                            disclosure form.
                        </div>
                    </div>
                </div>

            </div>

        </div>

<%- include("include/footer") %>