<%- include("include/header") %>
<%- include("include/navbar") %>

    <div id="main-content" class="container-fluid main-content right-left-margin">
        <div class="pt-3"></div>

        <div class="row" style="min-height: 434px;">
            <div id="content" role="main" class="col-md-12 mb-3">

                <div class="row justify-content-center">
                    <div id="components" class="col-sm-12 mb-3">

                        <div id="system-message-container">
                            <div id="system-message">
                            </div>
                        </div>

                        <div class="item-page ">
                            <meta itemprop="inLanguage" content="en-GB">


                            <div class="page-header">
                                <h3 itemprop="name" class="article-head">
                                    FAQ </h3>
                            </div>
                            <div itemprop="articleBody" class="article-body">
                                <div class="wtk-text  text-justify mt-4">
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_1" class="accordeon ">Q-1. I have an
                                                Idea, can I file a Patent for it?</button>
                                            <div class="acc_panel" id="panelacc5_1" style="display:none">
                                                <p><strong>Ans-</strong> Yes, Patents can be filed at an Ideation stage.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_2" class="accordeon ">Q-2. What is a
                                                Provisional Patent Application?</button>
                                            <div class="acc_panel" id="panelacc5_2" style="display:none">
                                                <p><strong>Ans-</strong> A Provisional Patent Application is an
                                                    expedited process of filing a patent application, without the
                                                    complete experimental details. The additional details should be
                                                    provided within a period of 12 months, to file a complete patent
                                                    application.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_3" class="accordeon ">Q-3. I have an
                                                idea, I would like to file a patent application but the idea related
                                                experiments have not been completed, it would take another 12 months to
                                                complete the experiments and generate data, how do I file the
                                                patent?</button>
                                            <div class="acc_panel" id="panelacc5_3" style="display:none">
                                                <p><strong>Ans-</strong> A Provisional Patent Application is advisable
                                                    in the above circumstances. Please note that a complete patent
                                                    application for the same invention can be filed within a period of
                                                    12 months.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_4" class="accordeon ">Q-4. How much
                                                time does it takes for the Patent filing process at IPR Cell?</button>
                                            <div class="acc_panel" id="panelacc5_4" style="display:none">
                                                <p><strong>Ans-</strong> Within 30 day, the patent application gets
                                                    filed.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_5" class="accordeon ">Q-5. How can I
                                                search, if my idea has already been patented?</button>
                                            <div class="acc_panel" id="panelacc5_5" style="display:none">
                                                <p><strong>Ans-</strong> Inventors are advised to do a preliminary
                                                    search on Google Patents (<a class="wtk-links"
                                                        href="https://patents.google.com/" target="_blank">
                                                        https://patents.google.com/</a>) , Google Patent is a free
                                                    Patent search database available on Internet, If the Inventors are
                                                    unable to do the Prior art search, they are advised to contact IPR
                                                    Cell for the same, the cell has advanced AI equipped Paid database
                                                    and Technical staff who are well versed in providing Patent search
                                                    report. A minimum of 4 working days are required to prepare the
                                                    patent search report at IPR Cell.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_6" class="accordeon ">Q-6. Can I
                                                publish my invention into a Research journal before filing a
                                                Patent?</button>
                                            <div class="acc_panel" id="panelacc5_6" style="display:none">
                                                <p><strong>Ans-</strong> <strong>Rule- PATENT FIRST PUBLISH
                                                        LATER</strong> <br> Public disclosure of an invention before
                                                    patent filing is not allowed, the same public disclosure in the
                                                    research journal, l becomes a prior art for the Patent application,
                                                    hence it is advised not to disclose the invention at any forum
                                                    before Patent filing.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_7" class="accordeon ">Q-7. How much
                                                time does it takes for the grant of the Patent application?</button>
                                            <div class="acc_panel" id="panelacc5_7" style="display:none">
                                                <p><strong>Ans-</strong> The Patent granting process takes at least 48
                                                    months/ 4 years from the date of Patent filing, however the
                                                    Institute uses the expedited mode of publication, so the Patent
                                                    applications are getting granted in less than 3 years.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_8" class="accordeon ">Q-8. Shall I
                                                wait for the Patent to be granted, for licensing/transferring it to
                                                Industry partners?</button>
                                            <div class="acc_panel" id="panelacc5_8" style="display:none">
                                                <p><strong>Ans-</strong> The patent/IPRs can be licensed to an Industry
                                                    partner after filing the patent application, through technology
                                                    licensing agreements.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_9" class="accordeon ">Q-9. I have
                                                made an algorithm/Source code/Software, can I file a Patent for the
                                                same?</button>
                                            <div class="acc_panel" id="panelacc5_9" style="display:none">
                                                <p><strong>Ans-</strong> Algorithm/source code/Software’s are a subject
                                                    matter of copyright, as per the section 3(K) of the Indian Patent
                                                    Act 1970, which states that a mathematical or business method or a
                                                    computer programme per se or algorithms are not inventions hence not
                                                    patentable.</p>
                                                <p>However if the software is embedded with a hardware, the same
                                                    invention can be filed as a Patent application.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_10" class="accordeon ">Q-10. I have
                                                an invention, it is devoid of functionality but have novel aesthetics or
                                                the Novel 3D view, Can I file the Patent for the invention?</button>
                                            <div class="acc_panel" id="panelacc5_10" style="display:none">
                                                <p><strong>Ans-</strong> Inventions having novel aesthetics views alone
                                                    are a subject matter of Design Registration (Laymen terms- Design
                                                    Patent), for filing a Design registration 7 different CAD/CAM/ Real
                                                    prototype views are required i.e. Top, bottom, right, left, front,
                                                    back and perspective view (illustrative disclosure form on filing a
                                                    Design registration can be found at this link).</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_11" class="accordeon ">Q-11. The
                                                Patent is part of a research project sponsored by the xyz funding
                                                agency, shall I take permission from the funding agency before filing
                                                the patent?</button>
                                            <div class="acc_panel" id="panelacc5_11" style="display:none">
                                                <p><strong>Ans-</strong> IIT Kanpur always signs an agreement beforehand
                                                    with any funding agency, for any sponsored Research/consultancy
                                                    project, the clause over IPR filing, maintenance and
                                                    commercialization are explicitly mentioned in the agreement. The
                                                    ownership, patent filing fee and commercialization onus are
                                                    mentioned in the agreement, please refer it to the same.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_12" class="accordeon ">Q-12. I have
                                                developed an invention with few co-inventors, one of the inventors is
                                                outside of IIT Kanpur, how do I include his name in the Patent?</button>
                                            <div class="acc_panel" id="panelacc5_12" style="display:none">
                                                <p><strong>Ans-</strong> The inventor’s name from outside of IITK can
                                                    also be included in the Patent application, subject to providing a
                                                    No Objection Certificate from the administrative head of the
                                                    employer of that inventor, the NOC must explicitly mention that
                                                    XYZ(employer) has no objection in filing of the patent by IIT Kanpur
                                                    being the sole applicant of the Patent. The NOC format is available
                                                    in the download section of the website.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_13" class="accordeon ">Q-13. Are
                                                Patents jurisdictional, How can I get a global protection for my
                                                Patent?</button>
                                            <div class="acc_panel" id="panelacc5_13" style="display:none">
                                                <p><strong>Ans-</strong> Yes, the Patents/IPRs are jurisdictional in
                                                    nature, a Patent application filing in India would result in
                                                    protection for the Indian jurisdiction only, there is no
                                                    protection/terminology like global Patent, separate patent
                                                    application needs to be filed for each jurisdictions.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_14" class="accordeon ">Q-14. What is
                                                the deadline to file a foreign patent application in jurisdictions like
                                                US/Japan or any other country?</button>
                                            <div class="acc_panel" id="panelacc5_14" style="display:none">
                                                <p><strong>Ans-</strong> The deadline to file a Foreign patent
                                                    application is 12 months, from the date of Indian Patent application
                                                    filing.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_15" class="accordeon ">Q-15. Is
                                                there an option of extending the 12-month deadline for filing a foreign
                                                patent application?</button>
                                            <div class="acc_panel" id="panelacc5_15" style="display:none">
                                                <p><strong>Ans-</strong> Yes, the expansion of deadline or time window
                                                    of 12 months for filing a foreign patent application is possible,
                                                    through a process called as PCT (Patent co-operation treaty), the
                                                    PCT application can be filed within 12 months from the date of
                                                    National Phase filing in order to expand the foreign filing window
                                                    from 12 months to 31 months.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_16" class="accordeon ">Q-16. What is
                                                a PCT application, how can I file it?</button>
                                            <div class="acc_panel" id="panelacc5_16" style="display:none">
                                                <p><strong>Ans-</strong> PCT (Patent co-operation treaty), the PCT
                                                    application is filed to expand the foreign filing window from 12
                                                    months to 31 months, it can be filed within 12 months from the date
                                                    of National Phase filing(Indian Patent application)</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="acc_container"><button id="acc5_17" class="accordeon ">Q-17. Who
                                                would sponsor the foreign patent application filing/PCT application
                                                filing expenses?</button>
                                            <div class="acc_panel" id="panelacc5_17" style="display:none">
                                                <p><strong>Ans-</strong> The PCT/foreign application filings are subject
                                                    to monetary support from the Project funds of the inventors,
                                                    inventors are suggested to provide their preferences in the
                                                    disclosure form.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>


                        <div class="show-article-image">
                            <div class="overlay-article-image"></div>
                            <div class="article-img-show">
                                <span class="overlay-close fa fa-times fa-2x text-dark">&nbsp;</span>
                                <div class="text-center">
                                    <img src="/ipr/" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <%- include("include/footer") %>