<%- include("include/header") %>

    <div class="row justify-content-between pb-1" >
        <div class="col-sm-12 col-md-8 col-lg-9 mt-1">
            <div class="row px-3 py-2">
                <div class="col-lg-1 col-2 pl-1 pr-0 text-center>
                    <a class="text-white" href="/ipr/">
                        <img src="/img/logo.png" class="img-fluid" >
                    </a>
                </div>
                <div class="col-lg-11 col-10 pl-1 text-left dept">
                    <div class="moduletable">


                        <div class="custom">
                            <p>Technology Transfer</p>
                            <p>National Institute of Technology, Delhi</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3 mt-1 search-mod" style="float:right;">
            <div class="moduletable">
                <div class="search">
                    <form action="/ipr/index.php" method="post" class="form-inline w-100" style="float:right;">

                        <label for="mod-search-searchword" class="d-none">Search...</label>
                        <div class="input-group my-1 w-100"><input name="searchword" id="mod-search-searchword"
                                maxlength="20" class="form-control form-control-sm inputbox search-query" type="text"
                                size="20" value="Search..." onblur="if (this.value=='') this.value='Search...';"
                                onfocus="if (this.value=='Search...') this.value='';">
                            <div class="input-group-append"><button class="button btn btn-sm btn-site"
                                    style="padding: 0 10px;" onclick="this.form.searchword.focus();">Search</button>
                            </div> <input type="hidden" name="task" value="search">
                            <input type="hidden" name="option" value="com_search">
                            <input type="hidden" name="Itemid" value="111">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <%- include("include/footer") %>