<%- include("include/header") %>
    <%- include("include/navbar") %>
        <div class="container">
            <div class="row">
                <div class="col">
                    <br>
                        <img src="/img/nit.jpg" class="img-fluid customImg" alt="Responsive image">
                </div>
                <div class="col">
                    <br>
                        <img src="/img/nit2.jpg" class="img-fluid customImg" alt="Responsive image" style="    height: 308px;
                        width: 510px;
                    ">
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <br>
                        <h2>Intellectual Property Rights (IPR)</h2>
                        National Institute of Technology Delhi is an academic Institute dedicated to excellence in
                        teaching and research. Its activities, centred on faculty/students/ /project staff/ supporting
                        staff/visitors are based on knowledge and intellectual exercise. In the era of technology
                        domination, where values and perceptions change at brisk pace, National Institutes of Technology,
                        in particular, have to preserve the fundamental spirit of academics on one hand and have to
                        march ahead, on the other, accepting changing realities of business economy based on knowledge
                        generated, protected and disseminated under the intellectual property regime. In the evolving
                        scenario of the world today, with increasing awareness of the ‘knowledge asset’, an Intellectual
                        Property Rights (IPR) Policy is needed not only to preserve the interest of NITD but also to
                        make NITD faculty/students /project staff/ supporting staff/ visitors aware of ‘knowledge asset
                        and its impact on the society’.
                        <br>
                        <br>
                        The present policy facilitates protection of the right of the Inventor(s) of NITD i.e.
                        faculty/students /project staff/ supporting staff /visitors of NITD through the option of
                        Intellectual property protection on a novel work or to keep it in public domain as they may deem
                        fit. In alignment with the Vision and Mission of NITD, the policy favours outreach of the novel
                        technologies developed at NITD. At the same time, it motivates the faculty, students and
                        researchers of NITD to initiate technology transfer using the intellectual property rights
                        gained over a novel technology.
                        <br>
                        <br>
                        In today’s knowledge based economy, bio‐based sectors are fast emerging and are also being
                        promoted by NITD. The present policy intends to take into consideration the sustainable use of
                        biological diversity by NITD faculty/students /project staff/ supporting staff, its
                        conservation, deposition of biological samples and use of natural resource based traditional
                        knowledge as per the Indian statutory IP regime.
                        <br>
                        <br>

                        <strong>OBJECTIVES OF THE IPR POLICY:</strong>
                        <br>

                        It enables NITD to discharge its primary responsibility of fostering, stimulating and
                        encouraging creative activities in the area of science and technology in the widest sense;
                        <br>
                        It lays down the norms to protect the legitimate interest of faculty/students/ project staff/
                        supporting staff /visitors of NITD and the society in a rational manner consistent with the
                        ‘commitment’ of NITD and ‘role’ assigned to it by the society.
                        <br>
                        It provides a transparent administrative system for the ownership, control and transfer of the
                        intellectual property created and owned by the Institute.
                        <br>
                        It shares a global perception of practices related to intellectual property retaining national
                        identity and local constraints, avoiding as far as possible ‘conflict’ of opposing interests.
                        <br>
                        It keeps into consideration the sustainable use of bio‐resources and conservation of
                        biodiversity.
                        <br>
                        The policy promotes fair use of traditional knowledge while recognizing local traditional
                        knowledge stakeholders and benefit sharing.
                    </p>
                </div>
            </div>
        </div>

        <%- include("include/footer") %>