<%- include("include/header") %>
<%- include("include/navbar") %>


<div id="components" class="col-sm-12  right-left-margin mb-3 p-5 mx-auto">
								
    
                                    
    <div class="item-page ">
               <div class="page-header">
                        <h3 itemprop="name" class="article-head pb-3"> 
                          <strong>  How to Apply for a Patent at NIT Delhi </strong> 
                        </h3>
                 </div>
                        
        
        
                    
                                    
            <div itemprop="articleBody" class="article-body">
                <div class="wtk-text">
                    <ul class="text-justify">
                        <li>In order to proceed with the Patent filing of your invention. Inventors are advised to do a preliminary search on Google Patents ( <a class="wtk-links" href="https://patents.google.com/" target="blank">https://patents.google.com/</a>), Google Patent is a free search database available on Internet, If the Inventors are unable to do the Prior art search, they are advised to contact IPR Cell for the same, the cell has advanced AI equipped Paid database and Technical staff who are well versed in providing Patent search report.</li>
                        <li>After ensuring from the Prior art search Report, that the Invention does not previously exist in the form of Patent or Non-Patent Literature, Inventors should proceed with the Patent filing of the invention.</li>
                        <li>Inventors from other organizations working in collaboration with NIT Delhi, can also file the patent, but they need to produce a NOC (No objection certificate) from their Parent organization.</li>
                        <li>The Provisional patent filing process increases the cost of patent application, hence inventors may opt for provisional Patent filing, if they could support an additional cost from their project funds.</li>
                        <li>For filing a Patent at NIT Delhi, there is a specific Form i.e. IPDF<strong><sup>*</sup></strong> (<a class="wtk-links" href="https://siicincubator.com/downloads/" target="blank">Intellectual Property Disclosure Format</a>). The IPDF should be filled with specific details and signatures from all inventors at designated places, further IPDF needs to be submitted at IPR cell (IPDF Form should be in hard copy as well as soft copy in word format).</li>
                        <li>The disclosure form received at IPR cell gets evaluated by a domain expert (probably a Faculty Member in the same domain), after the approval from the technical expert, the invention will be send to one of the empanelled Patent attorneys of NIT Delhi. The decision regarding the selection of attorney will be the administrative decision of NIT Delhi.</li>
                        <li>At the time of draft preparation of Patent application, the attorney will contact the first Inventor regarding Patent draft approval; the inventor may provide his input to the attorney and ask for any modification/rectification in the draft.</li>
                        <li>After filing the Patent application at the Patent office, the attorney will send the Form-1 to the Inventors, the Inventors are supposed to sign the Form-1 (Hard copy of Form-1 needs to be printed single sided only) &amp; inventors may submit the hard copy of signed Form-1 (pen signed) from all inventors within 7 days. (Form-1 should be originally signed, Photocopy/ scanned signatures on Form-1 are liable for rejection from Patent Office)</li>
                        <li>Patent filing and grant of certificate is a long procedure, after the submission of Patent application at Indian Patent office, it takes 18 months for the Patent application publication and overall 48 months for the Examination, after the examination if there is no objection/hearing by the Patent examiner, the Patent Certificate is being Granted.</li>
                        <li>Patent maintenance fees (Annuity fees) is being made annually from 3rd year onwards for the granted Patents, Initially annuity fees is being paid for first 6 years, after 6 years the annuity fees shall be paid on the basis of commercialization aspect of the Technology.</li>
                    </ul>
                </div>	
            </div>
    </div>
  </div>

  <%- include("include/footer") %>