.nav-link,.navbar-brand,.dropdown-item{
    color: white !important;
     
}
.burger-vahibav{
    color: white !important;
}

.nav-link:hover,.navbar-brand:hover,.dropdown-item:hover{
    color: white ;
}

.nav-link:hover,.navbar-brand:hover,.dropdown-item:hover{
    color: white ;
    background-color: red;
}