<footer>
 <div class="footer-container">

    <a href=""> IP India</a> <a href="">NITD Home</a>  <a href="">Office Location</a>
    <div class="social-icons-div">
        <i class="fa-brands fa-2x fa-facebook"></i>
        <i class="fa-brands fa-2x fa-linkedin"></i>
        <i class="fa-brands fa-2x fa-youtube"></i>


        
    </div>
    <div class="copyright-div">
        Copyright © 2021 : IIT Kanpur<br>
        Developed and Maintained By : Institute Web Team
    </div>
 </div>   
 


</footer>



</body>
</html>