<footer>
 <div class="footer-container fixed-bottom">

    <a href=""> IP India</a> <a href="">NITD Home</a>  <a href="">Office Location</a>
    <div class="social-icons-div">
        <i class="fa-brands fa-2x fa-facebook mx-1"></i>
        <i class="fa-brands fa-2x fa-linkedin mx-1"></i>
        <i class="fa-brands fa-2x fa-youtube mx-1"></i>


        
    </div>
    <div class="copyright-div">
        Copyright © 2022 : NIT Delhi<br>
        Developed and Maintained By : Umang kumar
    </div>
 </div>   
 


</footer>



</body>
</html>