<footer>
        <div class="footer-container">

            <a href=""> IP India</a> <a href="">NITD Home</a> <a href="">Office Location</a>
            <div class="social-icons-div">
                <i class="fa-brands fa-2x fa-facebook mx-1"></i>
                <i class="fa-brands fa-2x fa-linkedin mx-1"></i>
                <i class="fa-brands fa-2x fa-youtube mx-1"></i>
            </div>
            <div class="copyright-div">
                Copyright © 2022 : NIT Delhi<br>
                Developed and Maintained By : Umang kumar ,Mohit kumar ,Deepak sharma and Vaibhav Yadav
            </div>
        </div>



</footer>



</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</html>