<div class="nav-bar-main right" style="background-color:#2091ba ;">

<nav class="navbar navbar-expand-lg right-left-margin" >
    <div class="container-fluid ">
      <!-- <a class="navbar-brand" href="#"></a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="bi bi-list-ul"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Activities</a>
          </li>
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"  aria-expanded="false">
              IPR
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Intro</a></li>
              <li><a class="dropdown-item" href="#">How to file an IPR?</a></li>
              <li><a class="dropdown-item" href="#">Patent</a></li>
              <li><a class="dropdown-item" href="#">Design</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"  aria-expanded="false">
              Downloads
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./documents/nitdIprPolicy.pdf" target="_blank">IPR Policy</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Contact Us</a>
          </li>
           
        </ul>
        
      </div>
    </div>
  </div>
</div>